@mixin d-flex ($direction: row) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: $direction;
}

@mixin h-property {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
}

@mixin r-property {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.2px;
    color: #737373;
}

